.vscode/**
.vscode-test/**
.gitignore
.github/**
.history/**
node_modules/**
src/**
test/**
*.vsix
.eslintrc.json
jsconfig.json
webpack.config.js
yarn.lock
package-lock.json
*.map
tsconfig.json
tslint.json
code-samples/**
*.bk.json
personal-access-token.txt
.vsixmanifest