:root {
  --nb-color-01: #00000050;
  --nb-color-65: #ffffff;
  --nb-color-37: #eeffff;
  --nb-color-16: #65737e;
  --nb-color-17: #7f817e;
  --nb-color-21: #aaaaaa;
  --nb-color-35: #e8e8e8;

  --nb-color-43: #ff0000;
  --nb-color-32: #e10000;
  --nb-color-44: #ff026a;
  --nb-color-45: #ff07a2;
  --nb-color-46: #ff0c77;
  --nb-color-47: #ff1190;
  --nb-color-49: #ff3229;
  --nb-color-50: #ff4028;
  --nb-color-51: #ff5370;
  --nb-color-52: #ff5a60;
  --nb-color-53: #ff6106;
  --nb-color-54: #ff6f5b;

  --nb-color-30: #dd8d04;
  --nb-color-34: #e58100;
  --nb-color-38: #f07178;
  --nb-color-40: #f78c6c;
  --nb-color-55: #ff8d04;
  --nb-color-57: #ffa851;
  --nb-color-58: #ffb46a;
  --nb-color-59: #ffc266;
  --nb-color-60: #ffcb6b;
  --nb-color-61: #ffe4a6;
  --nb-color-62: #fffa02;
  --nb-color-42: #fef611;
  --nb-color-63: #ffff00;
  --nb-color-64: #ffffaa;

  --nb-color-23: #b2ff02;
  --nb-color-25: #bbfd0d;
  --nb-color-22: #acff04;
  --nb-color-26: #c3e88d;

  --nb-color-29: #d4facd;
  --nb-color-03: #00ff00;
  --nb-color-04: #0aff04;
  --nb-color-08: #22ff31;
  --nb-color-13: #46f761;
  --nb-color-02: #00d205;
  --nb-color-11: #2bb71d;
  --nb-color-12: #3a771f;

  --nb-color-18: #80fcff;
  --nb-color-07: #18fffa;
  --nb-color-14: #48ffc2;

  --nb-color-05: #0b93ff;
  --nb-color-06: #147dff;
  --nb-color-09: #2492ff;
  --nb-color-10: #276aff;
  --nb-color-19: #82aaff;
  --nb-color-24: #b8d9ff;
  --nb-color-20: #a5a8ff;
  --nb-color-15: #4e5aff;

  --nb-color-39: #f50aff;
  --nb-color-31: #df00df;
  --nb-color-36: #ea03ff;
  --nb-color-48: #ff25d9;
  --nb-color-28: #d285cc;
  --nb-color-56: #ff92e4;
  --nb-color-27: #c792ea;
  --nb-color-33: #e3a0ff;
  --nb-color-41: #fec6ff;
}
